{% extends 'base.html.twig' %}
{% block title %}Nuevo Alumno{% endblock %}
{% block body %}
	<div class="titulo">{{ block('title') }}</div>
	<div class="formulario">
    {{ form_start(form) }}
	<div>
        {{ form_errors(form.nombre) }}
        {{ form_widget(form.nombre, {'attr': {'placeholder': 'Apellido y Nombre'}}) }}
    </div>
	<div>
        {{ form_errors(form.sexo) }}
        {{ form_widget(form.sexo, {'attr': {'placeholder': 'Sexo'}}) }}
	</div>
	<div>
        {# { form_label(form.fechaNacimiento,'Fecha de Nacimiento') } #}
        {{ form_errors(form.fechaNacimiento) }}
        {{ form_widget(form.fechaNacimiento, {'attr': {'type': 'date','placeholder':'Fecha de Nacimiento'}}) }}
    </div>
	<div>
        {{ form_errors(form.curso) }}
        {{ form_widget(form.curso, {'attr': {'placeholder': 'Curso'}}) }}
    </div>
    <input type="submit" value="Guardar" />
    {{ form_end(form) }}
	</div>
    <ul>
        <li>
            <a href="{{ path('alumno_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
