{% extends 'base.html.twig' %}
{% block title %}Información de Alumno{% endblock %}
{% block body %}
	<div class="titulo">{{ block('title') }} DNI {{alumno.dni}}</div>
	<br/>
	<div class="tabla">
    <table>
        <thead>
            <tr>
                <th>DNI</th>
				<th>Sexo</th>
                <th>Nombre</th>
                <th>Fecha de nacimiento</th>
				<th>Email</th>
				<th>Curso</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ alumno.dni }}</td>
                <td>{{ alumno.sexo }}</td>
                <td>{{ alumno.nombre }}</td>
                <td>{% if alumno.fechaNacimiento %}{{ alumno.fechaNacimiento|date('Y-m-d') }}{% endif %}</td>
				<td>{{ alumno.email }}</td>
                <td>{{ alumno.curso }}</td>
				<td>
				<ul>
					<li>
						<a href="{{ path('alumno_edit', { 'id': alumno.id }) }}">Editar</a>
					</li>
					<li>
						{{ form_start(delete_form) }}
							<input type="submit" value="Borrar">
						{{ form_end(delete_form) }}
					</li>
				</ul>
				</td>
            </tr>
        </tbody>
    </table>
	</div>
    <ul>
        <li>
            <a href="{{ path('alumno_index') }}">Volver</a>
        </li>
    </ul>
{% endblock %}
